.about-content-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* adjust to your image height */
  }

  .about {
    overflow: hidden;
  }
  
  .about-content-img img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    max-width: 100%;
  }
  
  
  @keyframes slideImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-320px);
    }
  }

  .about .content {
    display: flex;
    justify-content: space-between;
  }

  .about-content-img {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 30px;
    cursor: pointer;
  }
  
  .about-content-img img {
    flex-shrink: 0;
    width: 300px; /* adjust */
  }
  
  
.about-content {
    display: flex;
    gap: 100px;
    height: 100vh;
}

.about-content-img {
    max-width: 600px;
    width: 600px;
    height: 100%;
}

.about-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-txt-title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: stretch;
}

.about-content-txt-title {
    font-size: 64px;
    font-weight: bold;
    font-family: "Outfit";
    color: #4E4E4E;
    background-color: #FFFFFF;
    transform: translateX(-10%);
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
}

.about-content-txt-description {
    padding: 50px 100px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-txt-description-text {
    font-size: 14px;
    line-height: 2;
}

.about-content-company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-company-info-table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

th {
    font-size: 14px;
    text-align: left;
    padding-right: 50px;
    padding-block: 10px;
}

td {
    font-size: 14px;
    padding-block: 10px;
    text-align: left;
    padding-right: 30px;
}

.about-is-sp-show {
  display: none;
}


@media (max-width: 1440px) {
  .about-content-txt-title {
    transform: translateX(-20%);
    position: relative;
    margin-right: 100px;
  }
}

@media (max-width: 1024px) {
  .about-content-img {
    width: 400px;
  }
  .about-content-txt-description {
    padding-left: 50px;
  }
  .about-content-txt-title {
    font-size: 40px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .about-content-img {
    width: 300px;
  }
  .about-content-txt-description {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-content-txt-title {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .about-is-sp-show {
    display: block;
  }
  .about-is-pc-show {
    display: none !important;
  }
  .content {
    flex-direction: column; 
  }
  .about-content-txt-title {
    margin-right: 0;
    transform: none;
    position: relative;
    width: fit-content
  }
  .about-content-txt-title-container {
    display: flex;
    padding-inline: 20px;
    gap: 10px;
    margin-bottom: -30px;
    z-index: 10;
  }
  .about-content-img {
    width: 100%;
    flex-direction: row-reverse;
    height: 350px;
  }
  .about-content-img img {
    width: 80%;
  }
  .about-content {
    height: auto;
  }
  .is-pc-show {
    display: none !important;
  }

  .about-content-txt-description {
    padding-inline: 20px;
  }

  th {
    padding-right: 30px;
    text-wrap: nowrap;
  }
}
