.about-content-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* adjust to your image height */
  }
  
  .about-content-img img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    max-width: 100%;
  }
  
  
  @keyframes slideImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-320px);
    }
  }

  .about .content {
    display: flex;
  }

  .about-content-img {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 30px;
    cursor: pointer;
  }
  
  .about-content-img img {
    flex-shrink: 0;
    width: 300px; /* adjust */
  }
  
  
.about-content {
    display: flex;
    gap: 100px;
    height: 100vh;
}

.about-content-img {
    width: 600px;
    height: 100%;
}

.about-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-txt-title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: stretch;
}

.about-content-txt-title {
    font-size: 64px;
    font-weight: bold;
    font-family: "Outfit";
    color: #4E4E4E;
    background-color: #FFFFFF;
    transform: translateX(-10%);
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
}

.about-content-txt-description {
    padding: 50px 100px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-txt-description-text {
    font-size: 14px;
    line-height: 2;
}

.about-content-company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-company-info-table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

th {
    font-size: 14px;
    text-align: left;
    padding-right: 50px;
    padding-block: 10px;
}

td {
    font-size: 14px;
    padding-block: 10px;
    text-align: left;
    padding-right: 30px;
}

