* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Outfit", sans-serif; */
  font-family: "Zen Kaku Gothic New";
  color: #4e4e4e;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #4e4e4e;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.is-md-show {
  display: none;
}
header,
main,
section {
  width: 100%;
}

@media (max-width: 768px) {
  .is-md-show {
    display: block !important;
  }
  .is-md-hide {
    display: none !important;
  }
}
