section.intro-section {
    height: 100vh;
    background-image: url('../media/07c838f81f885815722635c387e123d6bffe250f.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

section.intro-section .intro-bg-text {
    height: fit-content;
    font-size: 16.4vw;
    color: white;
    font-weight: 600;
    line-height: 100%;
    text-align: center
}

section.intro-section .cd_wrapper {
    display: none;
}

section.intro-section .vertical-text {
    display: none
}

@media (max-width: 900px) {
    section.intro-section .cd_wrapper {
        position: absolute;
        bottom: 26px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.2);
    }

    section.intro-section button {
        width: fit-content;
        padding: 16px 30px;
        border-radius: 31px;
        background-color: white;
        border: none;
    }

    section.intro-section button a {
        width: 100%;
        align-items: center;
        text-decoration: none;
    }

    section.intro-section button span {
        width: fit-content;
    }

    section.intro-section button span:nth-child(1) {
        font-size: 18px;
        color: var(--text-default);
        font-weight: 600;
        font-family: 'Outfit';
        line-height: 18px;

    }

    section.intro-section button span:nth-child(2) {
        font-size: 10px;
        line-height: 12px
    }

    section.intro-section .vertical-text {
        display: flex;
        height: 240px;
        border-left: 2px solid white;
        margin-left: 20px;
        padding-left: 0px;
        position: absolute;
        right: 0px;
        bottom: 50px;
        z-index: 5;
    }

    section.intro-section .vertical-text span {
        writing-mode: vertical-rl;
        color: white;
        font-family: 'Outfit';
        font-size: 14px;
        font-weight: 400;

    }
}






section.form {
    position: relative;
    /* height: 500px; */
    background-image: url('../media/07c838f81f885815722635c387e123d6bffe250f.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
}

section.form .bg-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    font-size: 32.8vw;
    color: hsla(0, 0%, 100%, 0.4);
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    z-index: 1;
}

section.form .form-wrapper {
    width: 100%;
    position: relative;
    z-index: 2;

}

section.form .form-title-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}

section.form .form-title-wrapper h3 {
    font-size: 30px;
    letter-spacing: 26px;
    font-weight: 600;
}

section.form .form-title-wrapper p {
    font-size: 18px;
    font-weight: 400;
    text-align: end;
}

section.form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    margin-top: 40px;
}

section.form .form-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

section.form .form-row label {
    width: 245px;
    flex-shrink: 0;
    padding-top: 13px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
}

section.form .form-row label.required::after {
    content: '必須';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(189, 42%, 53%, 1);
    width: 39px;
    border-radius: 24px;
    color: white;
    font-size: 10px;
    height: 20px;
    position: absolute;
    left: 186px;
    top: 13px;
}

section.form form input[type="text"],
section.form form input[type="email"],
section.form form input[type="tel"] {
    width: 400px;
    height: 50px;
    background-color: hsla(0, 0%, 100%, 0.4);
    border: 2px solid hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    padding: 0 16px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    color: var(--text-default);
}

section.form form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

/* Grouped inputs like Name (Sei/Mei) */
section.form .input-group-name {
    display: flex;
    gap: 10px;
    width: 400px;
}

section.form .input-group-name input {
    width: 100% !important;
}

/* Agreement Section */
section.form .agreement-row {
    display: flex;
    flex-direction: column;
    padding-left: 245px;
    gap: 15px;
    margin-top: 20px;
}

section.form .agreement-text {
    font-size: 14px;
    line-height: 1.6;
}

section.form .agreement-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
}

section.form .agreement-checkbox input[type="checkbox"] {
    width: 26px;
    height: 26px;
    border: 2px solid hsla(0, 0%, 100%, 1);
    margin: 0;
    cursor: pointer;
}

/* Submit Button */
section.form .submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

section.form input[type="submit"] {
    width: 180px;
    height: 50px;
    background-color: hsla(0, 0%, 31%, 1);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
}

section.form input[type="submit"]:hover {
    opacity: 0.8;
}

@media (max-width: 900px) {
    section.form form {
        padding-left: unset;
        gap: 20px;
    }

    section.form .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    section.form .form-row label {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 0;
        justify-content: flex-start;
    }

    section.form .form-row label.required::after {
        position: static;
        margin-left: 14px;
        top: unset;
        left: unset;
    }

    section.form form input[type="text"],
    section.form form input[type="email"],
    section.form form input[type="tel"],
    section.form .input-group-name {
        width: 100%;
    }

    section.form .agreement-row {
        padding-left: 0;
    }

    section.form .bg-text {
        font-size: 20vw;
        /* Adjusted from 380px fixed to act better */
        top: 10%;
    }

    section.form .form-title-wrapper {
        flex-direction: column;
        justify-content: unset;
        align-items: start;
        height: fit-content;
        margin-bottom: 50px;
    }

    section.form .form-title-wrapper h3 {
        font-size: 24px;
        letter-spacing: 10px;
        margin-bottom: 10px;
    }

    section.form .form-title-wrapper p {
        font-size: 14px;
        text-align: start;
    }
}

@media (max-width: 440px) {
    section.form .input-group-name {
        gap: 5px;
    }
}

section.contact_download {
    position: relative;
    /* background-image: url('../media/07c838f81f885815722635c387e123d6bffe250f.webp'); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: hidden;

}

section.contact_download .cd_wrapper {
    gap: 73px;
    margin: 108px 0px;
}

section.contact_download button {
    width: 100%;
    height: 143px;
    border-radius: 31px;
    background-color: white;
    border: none;
}

section.contact_download button a {
    width: 100%;
    align-items: center;
    text-decoration: none;
    line-height: 30px;
}

section.contact_download button span {
    width: fit-content;
}

section.contact_download button span:nth-child(1) {
    font-size: 48px;
    color: var(--text-default);
    font-weight: 600;
    font-family: 'Outfit';

    line-height: 52px;

}

section.contact_download button span:nth-child(2) {
    font-size: 14px;
}

@media (max-width: 900px) {
    section.contact_download {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 0;
        padding: 10px 0;
    }

    section.contact_download .cd_wrapper {
        flex-direction: row;
        gap: 15px;
        margin: 0;
        justify-content: center;
        padding: 0 15px;
    }

    section.contact_download button {
        height: auto;
        padding: 12px 20px;
        border-radius: 30px;
    }

    section.contact_download button span:nth-child(1) {
        font-size: 18px;
        line-height: 1.2;
    }

    section.contact_download button span:nth-child(2) {
        font-size: 10px;
        line-height: 10px;
    }
}











footer .footer_wrapper {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
    width: 180px
}

footer .footer-cta {
    width: fit-content;
    justify-content: center;
}

footer .footer-cta button {
    width: 160px;
    height: 50px;
    background-color: hsla(189, 42%, 53%, 1);
    border: none;
    border-radius: 40px;
}

footer .footer-cta button a {
    color: white;
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 700;
    text-decoration: none;
}

footer figure.footer-logo {
    height: 30px;
}

footer figure figcaption {
    display: none;
}

footer figure.footer-logo img {
    height: 30px;
    object-fit: cover;
}

@media (max-width: 900px) {

    footer .footer_wrapper {
        height: fit-content;
        padding-top: 32px;
        padding-bottom: 14px;
        flex-direction: column;
        align-items: center;
    }

    footer .footer_wrapper figure {
        margin-bottom: 23px;
    }

    footer .footer_wrapper .copyright {
        margin-bottom: 35px;
    }

    footer .footer_wrapper button {
        height: 45px;
    }
}