.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-block: 25px;
}
.footer-container .f-top {
  width: 100%;
  padding-inline: 81px 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .f-logo {
  width: 80px;
  display: flex;
}
.footer-container .f-hp {
  background-color: #56abba;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #4e4e4e;
}
