.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-block: 25px;
}

.footer-container .f-top {
  width: 100%;
  padding-inline: 81px 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container .f-logo {
  width: 80px;
  display: flex;
}

.footer-container .f-hp {
  background-color: #56abba;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #4e4e4e;
}


.flx-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flx-col {
  display: flex;
  flex-direction: column;
}


.cd_wrapper {
  width: 100%;
  padding-inline: 80px;
}

footer.container {
  padding: 0px 80px;
  box-sizing: border-box;
  background-color: #FFF;
}

@media(max-width:900px) {
  footer.container {
    padding-bottom: 80px;
  }
}

footer .footer_wrapper {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

footer .copyright {
  width: 180px
}

footer .footer-cta {
  width: fit-content;
  justify-content: center;
}

footer .footer-cta button {
  width: 160px;
  height: 50px;
  background-color: hsla(189, 42%, 53%, 1);
  border: none;
  border-radius: 40px;
}

footer .footer-cta button a {
  color: white;
  font-size: 14px;
  letter-spacing: 10px;
  font-weight: 700;
  text-decoration: none;
}

footer figure.footer-logo {
  height: 30px;
}

footer figure figcaption {
  display: none;
}

footer figure.footer-logo img {
  height: 30px;
  object-fit: contain;
}

@media (max-width: 900px) {

  footer .footer_wrapper {
    height: fit-content;
    padding-top: 32px;
    padding-bottom: 14px;
    flex-direction: column;
    align-items: center;
  }

  footer .footer_wrapper figure {
    margin-bottom: 23px;
    order: 1;
  }

  footer .footer_wrapper .footer-cta {
    margin-bottom: 35px;
    order: 2;
  }

  footer .footer_wrapper .copyright {
    margin-bottom: 0;
    order: 3;
  }

  footer .footer_wrapper button {
    height: 45px;
  }
}

.copyright {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #4E4E4E;
  letter-spacing: normal;
  text-align: center;
  font-family: 'Outfit';
  width: 180px;
  position: relative;
}