/* 
.solution {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .solution .content {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  .solution .content .tip {
    position: absolute;
    top: -85px;
    left: 0;
    width: 100%;
    overflow: hidden; 
  }
  .solution .content .tip p {
    font-size: 500px;
    font-weight: bold;
    font-family: "Outfit";
    color: rgba(255, 255, 255, 0.5);
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    animation: slideTextLeft 80s linear infinite;
    will-change: transform;
  }
  .solution-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "Zen Kaku Gothic New";
    letter-spacing: 20px;
    color: #4E4E4E;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 250px;  
  }
  
  
  .solution-list {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
  
  }
  
  .solution-list > .solution-item {
    position: absolute;
    width: 90vw;
    height: 80vh;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: transform 0.6s ease-in-out;
    transform-origin: left center;
    z-index: 1;
    overflow: hidden;
  }
  
  .solution-list > .solution-item h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .solution-list > .solution-item p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
    line-height: 1.6;
  }
  
  .solution-list > .solution-item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    transition: opacity 0.3s ease;
  }
  
  .solution-list > .solution-item a:hover {
    opacity: 0.7;
  }
  
  .solution-list > .solution-item:nth-child(1) {
    left: 0;
    z-index: 3;
    background: #FFF4FE;
    color: #fff;
  }
  
  .solution-list > .solution-item:nth-child(1) a {
    color: #fff;
    border-bottom-color: #fff;
  }

  .solution-list > .solution-item:nth-child(2) {
    left: 5vw;
    z-index: 2;
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    color: #fff;
  }
  
  .solution-list > .solution-item:nth-child(2) a {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  .solution-list > .solution-item:nth-child(3) {
    left: 10vw;
    z-index: 1;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #fff;
  }
  
  .solution-list > .solution-item:nth-child(3) a {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  .solution-list > .solution-item:nth-child(1):hover {
    transform: translateX(0);
    z-index: 10;
  }
  
  .solution-list > .solution-item:nth-child(1):hover ~ .solution-item:nth-child(2),
  .solution-list > .solution-item:nth-child(1):hover ~ .solution-item:nth-child(3) {
    transform: translateX(0) !important;
  }
  
  .solution-list:hover > .solution-item:nth-child(1):not(:hover) {
    transform: translateX(-85vw);
  }
  
  .solution-list > .solution-item:nth-child(2):hover {
    z-index: 2;
    transform: translateX(0);
  }
  
  .solution-list:hover > .solution-item:nth-child(3):hover ~ .solution-item:nth-child(2) {
    transform: translateX(-85vw);
  }
  
  .solution-list > .solution-item:nth-child(3):hover {
    z-index: 0;
  }
  
  
  .solution-list.active > .solution-item:not(.active) {
  transform: translateX(-85vw);
  }
  
  .fixed {
    transform: translateX(0) !important;
  }
  
  
  .solution-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  
  .solution-item-label {
    font-size: 24px;
    font-weight: bold;
    font-family: "Outfit";
    color: #4E4E4E;
    line-height: 1;
    padding: 30px 40px;
    white-space: nowrap;
    display: inline-block;
    opacity: 0.7;
  }
  
  .solution-item-container {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding-block: 40px;
  }
  
  .solution-item-container-img {
    width: 45%;
    height: 120%;
    position: relative;
    overflow: hidden;
  }
  
  .solution-item-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .solution-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  
  .solution-item-content-title {
    font-size: 90px !important;
    font-weight: bold;
    font-family: "Outfit";
    color: #4E4E4E;
    line-height: 1 !important;
  }
  
  .solution-item-content-subtitle {
    font-size: 30px;
    font-weight: bold;
    font-family: "Zen Kaku Gothic New";
    color: #4E4E4E;
    background-color: #FFFFFF;
    padding: 0px 10px;
    width: fit-content;
    z-index: 2;
  }
  
  .solution-item-content-text {
    font-size: 14px;
    font-family: "Zen Kaku Gothic New";
    color: #4E4E4E;
    line-height: 2;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  
  .solution-item-number {
    font-size: 300px;
    font-weight: bold;
    font-family: "Outfit";
    color: #FFFFFF;
    line-height: 1.2;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .solution-item-content-label {
    rotate: 90deg;
    position: absolute;
    bottom: 140px;
    font-size: 24px;
    font-weight: bold;
    color: #4E4E4E;
    opacity: 0.7;
    right: -80px;
    z-index: 2;
  }
  
  #solution-item-1 {
    background: #F4FFF9;
  }
  
  #solution-item-2 {
    background: #EAFFFF;
  }
  
  #solution-item-3 {
    background: #FFF4FE;
  }
  
  #solution-item-content-label-3 {
    right: -70px;
  }
  #solution-item-content-label-2 {
    right: -20px;
  }
  #solution-item-content-label-1 {
    right: -130px;
    bottom: 180px;
  }
  
  #solution-item-content-title-1 {
    line-height: 1 !important;
  }
  #solution-item-content-title-2 {
    line-height: 4 !important;
  }
  #solution-item-content-title-3 {
    line-height: 1.5 !important;
  }
   */

.solution {
  width: 100%;
  height: auto;
  position: relative;
}

.solution .content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.solution-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  letter-spacing: 20px;
  color: #4E4E4E;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 250px;  
}

.solution .content .tip {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  z-index: -5;
  overflow: hidden; 
}
.solution .content .tip p {
  font-size: 500px;
  font-weight: bold;
  font-family: "Outfit";
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  animation: slideTextLeft 80s linear infinite;
  will-change: transform;
}

.solution-slid-main-content {
  display: flex;
  gap: 50px;
}

.solution-item-container-img {
  width: 600px;
  height: 120%;
  position: relative;
  overflow: hidden;
}

.solution-item-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solution-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.solution-item-content-title {
  font-size: 90px !important;
  font-weight: bold;
  font-family: "Outfit";
  color: #4E4E4E;
  line-height: 1 !important;
  z-index: 20;
}

.solution-item-content-subtitle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  background-color: #FFFFFF;
  padding: 0px 10px;
  width: fit-content;
  z-index: 2;
}

.solution-item-content-text {
  font-size: 14px;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  line-height: 2;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.solution-item-number {
  font-size: 300px;
  font-weight: bold;
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 1.2;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.solution-item-label {
  font-size: 24px;
  font-weight: bold;
  font-family: "Outfit";
  color: #4E4E4E;
  line-height: 1;
  padding: 30px 0px;
  white-space: nowrap;
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 2;
}

.slid-item-order {
  font-size: 24px;
  
  color: #4E4E4E;
  opacity: 1;
  z-index: 2;
  text-align: center;
}

.solution-item-content-label {
  rotate: 90deg;
  height: fit-content;
  text-wrap: nowrap;
  bottom: 140px;
  font-size: 24px;
  font-weight: bold;
  color: #4E4E4E;
  opacity: 0.7;
  right: -80px;
  z-index: 2;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

#solution-item-content-title-1 {
  line-height: 1 !important;
}
#solution-item-content-title-2 {
  line-height: 3.5 !important;
}
#solution-item-content-title-3 {
  line-height: 1.5 !important;
}

.top-part {
  height: 150px;
  position: relative;
  z-index: 0;
}

.solution-slid-animation {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.solution-slid-item {
  height: calc(100vh - 150px);
  position: absolute;
  display: flex;
  z-index: 1;
  width: 100%; /* Fixed width for all items */
  will-change: top, right;
  /* Initial state: off-screen at bottom (will be set by GSAP) */
  top: 100vh;
}

.solution-slid-item1 {
  background-color: #F4FFF8;
  z-index: 1;
}

.solution-slid-item2 {
  z-index: 3 !important;
  width: calc(100% - 100px) !important;
  background-color: #EAFFFF;
  right: 100px;
} 

.solution-slid-item3 {
  z-index: 5 !important;
  background-color: #FFF4FE;
  width: calc(100% - 200px) !important;
  right: 200px;
}

.solution-slid-item-title {
  width: 100px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
}

.solution-slid-content {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.solution-slid-item2 .solution-slid-item-title {
}

.solution-slid-item2 .solution-slid-content {
}

.solution-slid-item3 .solution-slid-item-title {
}

.solution-slid-item3 .solution-slid-content { 
}