.solution {
  width: 100%;
  height: auto;
  position: relative;
}

.solution .content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.solution-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  letter-spacing: 20px;
  color: #4E4E4E;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 250px;
}

.solution .content .tip {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  z-index: -5;
  overflow: hidden;
}

.solution .content .tip p {
  font-size: 500px;
  font-weight: bold;
  font-family: "Outfit";
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  animation: slideTextLeft 80s linear infinite;
  will-change: transform;
}

.solution-slid-main-content {
  display: flex;
  gap: 50px;
}

.solution-item-container-img {
  width: 600px;
  height: 120%;
  position: relative;
  /* overflow: hidden; */
}

.solution-item-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solution-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.solution-item-content-title {
  font-size: 90px !important;
  font-weight: bold;
  font-family: "Outfit";
  color: #4E4E4E;
  line-height: 1 !important;
  z-index: 20;
}

.solution-item-content-subtitle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  background-color: #FFFFFF;
  padding: 0px 10px;
  width: fit-content;
  z-index: 2;
}

.solution-item-content-text {
  font-size: 14px;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  line-height: 2;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.solution-item-number {
  font-size: 300px;
  font-weight: bold;
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.solution-item-label {
  font-size: 24px;
  font-weight: bold;
  font-family: "Outfit";
  color: #4E4E4E;
  line-height: 1;
  padding: 30px 0px;
  white-space: nowrap;
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 2;
}

.slid-item-order {
  font-size: 24px;

  color: #4E4E4E;
  opacity: 1;
  z-index: 2;
  text-align: center;
}

.solution-item-content-label {
  rotate: 90deg;
  height: fit-content;
  text-wrap: nowrap;
  bottom: 140px;
  font-size: 24px;
  font-weight: bold;
  color: #4E4E4E;
  opacity: 0.7;
  right: -80px;
  z-index: 2;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

#solution-item-content-title-1 {
  line-height: 1 !important;
}

#solution-item-content-title-2 {
  line-height: 3.5 !important;
}

#solution-item-content-title-3 {
  line-height: 1.5 !important;
}

.top-part {
  height: 150px;
  position: relative;
  z-index: 0;
}

.solution-slid-animation {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.solution-slid-item {
  height: calc(100vh - 150px);
  position: absolute;
  display: flex;
  z-index: 1;
  width: 100%;
  /* Fixed width for all items */
  will-change: top, right;
  /* Initial state: off-screen at bottom (will be set by GSAP) */
  top: 100vh;
}

.solution-slid-item1 {
  background-color: #F4FFF8;
  z-index: 1;
}

.solution-slid-item2 {
  z-index: 3 !important;
  width: calc(100% - 100px) !important;
  background-color: #EAFFFF;
  right: 100px;
}

.solution-slid-item3 {
  z-index: 5 !important;
  background-color: #FFF4FE;
  width: calc(100% - 200px) !important;
  right: 200px;
}

.solution-slid-item-title {
  width: 100px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;
}

.solution-slid-content {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.solution-slid-item2 .solution-slid-item-title {}

.solution-slid-item2 .solution-slid-content {}

.solution-slid-item3 .solution-slid-item-title {}

.solution-slid-item3 .solution-slid-content {}

.is-pc-show {
  display: block;
}

.is-sp-show {
  display: none;
}

@media (max-width: 1440px) {
  #solution-item-content-title-1 {
    line-height: 1 !important;
  }

  #solution-item-content-title-2 {
    line-height: 2.5 !important;
  }

  #solution-item-content-title-3 {
    line-height: 1 !important;
  }
  .solution-title {
    top: 80px;
  }
}

@media (max-width: 1280px) {
  #solution-item-content-title-1 {
    line-height: 1 !important;
  }

  #solution-item-content-title-2 {
    line-height: 2.5 !important;
  }
  .solution-slid-item2 {
    width: calc(100% - 60px) !important;
  }
  .solution-slid-item3 {
    width: calc(100% - 120px) !important;
  }
  .solution-slid-item-title {
    width: 60px;
  }
  .solution-item-content-title {
    font-size: 60px !important;
  }
}

@media (max-width: 1024px) {
  .solution-item-container-img {
    width: 350px;
  }

  .solution-item-content-title {
    font-size: 60px !important;
  }

  .solution-item-content-text {
    text-wrap: wrap;
  }

  .solution-slid-item-title {
    width: 50px;
  }

  .solution-slid-item2 {
    z-index: 3 !important;
    width: calc(100% - 50px) !important;
  }

  .solution-slid-item3 {
    z-index: 3 !important;
    width: calc(100% - 100px) !important;
  }
  .solution-title {
    top: 75px;
  }
}

@media (max-width: 768px) {
  #solution-item-content-title-2 {
    line-height: 5 !important;
    position: relative;
    z-index: 11;
  }

  #solution-item-content-title-3 {
    list-style: none;
    position: relative;
    z-index: 11;
  }

  #solution-item-content-title-1 {
    list-style: none;
    position: relative;
    z-index: 11;
  }

  #solution-item-content-title-1 {
    line-height: 1.2 !important;
  }

  #solution-item-content-title-2 {
    line-height: 4 !important;
  }

  #solution-item-content-title-3 {
    line-height: 1.5 !important;
  }

  .solution-item-content-title {
    font-size: 50px !important;
  }

  .solution-item-content {
    justify-content: space-evenly;
  }

  .solution-item-content-subtitle {
    font-size: 24px;
  }

  .solution-slid-main-content {
    gap: 20px;
    padding: 50px 20px;

  }

  .solution-slid-main-content {
    flex-direction: column;
    width: -webkit-fill-available;
  }

  .solution-item-container-img {
    width: 100%;
    height: fit-content
  }

  .solution-item-container-img img {
    height: 200px;
  }

  .solution-item-number {
    left: 30px;
  }

  .solution-slid-item-title {
    width: 40px;
  }

  .solution-slid-item2 {
    z-index: 3 !important;
    width: calc(100% - 40px) !important;
    /* right: 40px !important; */
  }

  .solution-slid-item3 {
    z-index: 3 !important;
    width: calc(100% - 80px) !important;
    /* right: 80px !important; */
  }

  .solution-item-content-subtitle {
    font-size: 20px;
  }

  .is-pc-show {
    display: none;
  }

  .is-sp-show {
    display: block;
  }

  .solution-item-content-title,
  .solution-item-content {
    padding-inline: 15px;
  }

  .solution-title {
    font-size: 20px;
    letter-spacing: 5px;
    left: 50px;
    top: 80px;
  }
}

@media (max-width: 480px) {
  .solution-slid-main-content {
    padding-inline: 0px;
  }

  #solution-item-content-title-2 {
    line-height: 4 !important;
  }

  .solution-item-content {
    padding-left: 15px;
  }

  .solution-item-container-img {
    width: 300px;
  }

  .solution-slid-main-content {}

  #solution-item-content-title-3 {
    padding-left: 15px
  }

  .solution-item-content-label {
    font-size: 16px;
  }

  .solution-title {
    font-size: 16px;
    letter-spacing: 5px;
    left: 15px;
    top: 70px;
  }
}

@media (max-width: 425px) {
  .solution-slid-item2 {
    z-index: 3 !important;
    width: calc(100% - 30px) !important;
  }

  .solution-slid-item3 {
    z-index: 3 !important;
    width: calc(100% - 60px) !important;
  }
  .solution-item-label {
    padding-block: 15px;
    font-size: 18px;
    top: 2px;
    right: 40px;
  }
  .slid-item-order {
    font-size: 18px;
    line-height: 1;
  }
  .solution-slid-item-title {
    padding-block: 15px;
    width: 30px !important;
  }
  .solution-item-content-title {
    font-size: 35px !important;
  }
  .solution-item-container-img img {
    height: 180px;
  }
  .solution-item-content-label {    
    margin-bottom: 50px !important;
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .solution-slid-item2 {
    z-index: 3 !important;
    width: calc(100% - 30px) !important;
  }

  .solution-slid-item3 {
    z-index: 3 !important;
    width: calc(100% - 60px) !important;
  }
  .solution-slid-item-title {
    width: 30px;
  }
}

@media (max-width: 375px) {
  .solution-slid-item-title {
    width: 25px;
  }

  .solution-slid-item2 {
    z-index: 3 !important;
    width: calc(100% - 25px) !important;
  }

  .solution-slid-item3 {
    z-index: 3 !important;
    width: calc(100% - 50px) !important;
  }

  .solution-item-content-label {
    font-size: 14px;
  }
}
