.swiper {
    width: 100;
    height: 300px;
    padding-block: 50px;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #ddd;
    border-radius: 10px;
    background-color: #ffffff;
}

.mySwiper {
  height: 600px;
  padding-block: 50px;
  background-color: #00000000;
}

.swiper-button-next::after {
display: none; /* Hide default arrow */
}
.swiper-button-prev::after {
display: none; /* Hide default arrow */
}

.point-group {
padding-block: 100px;
}

.point-group-title {
display: flex;
justify-content: center;
align-items: center;
}

.point-group-title h2{
font-size: 32px;
font-family: "noto-sans-japanese", sans-serif;
font-weight: 700;
text-align: center;
}


/* Container */
.swiper-points {
width: 100%;
height: 350px;
max-width: 1440px;  /* adjust as needed */
margin: 40px auto;
}

.swiper-slide {
  background-color: #00000000;
}

/* Slides */
.swiper-points .swiper-slide {
width: 350px !important;
height: 450px !important;
background-color: #00000000;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-points .swiper-slide img {
max-width: 100%;
height: auto;
border-radius: 12px;
}

/* Pagination dots */
.swiper-points .swiper-pagination {
position: relative;
margin-top: -30px;
}

.swiper-points .swiper-pagination-bullet {
background: #333;
opacity: 0.6;
}

.swiper-points .swiper-pagination-bullet-active {
background: #007aff; /* blue highlight */
opacity: 1;
}

.swiper-scrollbar {
  height: 6px;
  background: rgba(0,0,0,0) !important;
  border-radius: 10px;
}

.swiper-scrollbar-drag {
  background: rgb(255, 255, 255) !important;
  border-radius: 10px;
}

