#mesh-bg {
  position: absolute;
  top: 0;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
  opacity: 0.5;
}

.fv {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  padding-block: 106px 153px;
  position: relative;
  background: url("../img/fv/mesh.png") no-repeat center / cover;
  z-index: 1;
}

.fv .fv-txt {
  position: absolute;
  bottom: 30px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  opacity: 0;
  transform: translateY(30px);
  color: #FFFFFF !important;
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.fv .fv-txt.fade-in-up {
  opacity: 1;
  transform: translateY(0);
  color: #FFFFFF;
}

.fv .fv-txt p {
  /* background-color: #ffffff; */
  font-family: 'Zen Kaku Gothic New Black';
  padding-inline: 9px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.1;
  color: #FFFFFF !important;
}

.fv .fv-scroll {
  position: absolute;
  right: 32px;
  bottom: 27px;
  width: 35px;
}

.fv .fv-scroll img {
  filter: brightness(0) invert(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  animation: scrollDownLoop 2s ease-in-out infinite;
}

@keyframes scrollDownLoop {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  25% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.fv .mesh {
  width: 100%;
  height: 100vh;
  background: url("../img/fv/mesh.png") no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
}

.fv .fv-img-box {
  width: 100%;
  max-width: 1200px;
  height: 476px;
  position: relative;
  margin: auto;
}

.fv-img-box img {
  position: absolute;
}

/* Trees */
.fv-img-box .treeOne,
.fv-img-box .treeTwo {
  will-change: transform, opacity;
  transform-origin: center bottom;
  opacity: 0;
}

.fv-img-box .treeOne {
  width: 80px;
  top: 300px;
  left: -100px;
}

.fv-img-box .treeTwo {
  width: 80px;
  top: 100px;
  right: 250px;
}

/* Houses - Left side (3 houses) */
.fv-img-box img.homeOne:nth-child(3) {
  width: 180px;
  top: 220px;
  left: 0px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.fv-img-box img.homeOne:nth-child(4) {
  width: 180px;
  top: 150px;
  left: 145px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Large central building */
.fv-img-box .bigHome {
  width: 500px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%) scale(0.3) translateY(20px);
  opacity: 0;
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Houses - Right side (2 houses) */
.fv-img-box .homeTwo {
  width: 200px;
  top: 150px;
  right: 100px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.fv-img-box .homeThree {
  width: 200px;
  top: 250px;
  right: 0px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.fv-img-box .homeFour {
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Animation classes for buildings */
.fv-img-box img.homeOne.pop-up,
.fv-img-box .bigHome.pop-up,
.fv-img-box .homeTwo.pop-up,
.fv-img-box .homeThree.pop-up,
.fv-img-box .homeFour.pop-up {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.fv-img-box .bigHome.pop-up {
  transform: translateX(-50%) scale(1) translateY(0);
}

/* Animations for people and vehicles */
@keyframes personFloat {

  0%,
  100% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-8px) translateX(2px);
  }

  50% {
    transform: translateY(-4px) translateX(-1px);
  }

  75% {
    transform: translateY(-10px) translateX(1px);
  }
}

@keyframes vehicleMove {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(1px);
  }

  75% {
    transform: translateY(-1px);
  }
}

@keyframes treeSway {

  0%,
  100% {
    transform: rotate(0deg) translateY(0);
  }

  25% {
    transform: rotate(2deg) translateY(-3px);
  }

  50% {
    transform: rotate(-1deg) translateY(-1px);
  }

  75% {
    transform: rotate(1.5deg) translateY(-2px);
  }
}

@keyframes streetlightGlow {

  0%,
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }

  25% {
    transform: translateY(-2px) scale(1.02);
    opacity: 0.6;
  }

  50% {
    transform: translateY(-1px) scale(1);
    opacity: 0.55;
  }

  75% {
    transform: translateY(-2.5px) scale(1.01);
    opacity: 0.65;
  }
}

/* Vehicles */
.fv-img-box .truckOne,
.fv-img-box .truckTwo {
  will-change: transform, opacity;
  transform-origin: center center;
}

.fv-img-box .truckOne {
  width: 130px;
  bottom: 0px;
  left: 250px;
  opacity: 0;
}

.fv-img-box .truckTwo {
  width: 100px;
  bottom: -100px;
  right: 400px;
  opacity: 0;
}

/* People */
.fv-img-box .manOne,
.fv-img-box .manTwo,
.fv-img-box .manThree,
.fv-img-box .manFour,
.fv-img-box .manFive {
  will-change: transform, opacity;
  transform-origin: center bottom;
}

.fv-img-box .manOne {
  width: 30px;
  top: 300px;
  left: 200px;
  opacity: 0;
}

.fv-img-box .manTwo {
  width: 25px;
  top: 300px;
  left: 330px;
  opacity: 0;
}

.fv-img-box .manThree {
  width: 35px;
  top: 450px;
  left: 450px;
  opacity: 0;
}

.fv-img-box .manFour {
  width: 30px;
  top: 350px;
  right: 350px;
  opacity: 0;
}

.fv-img-box .manFive {
  width: 25px;
  top: 300px;
  right: 200px;
  opacity: 0;
}

/* Streetlights */
.fv-img-box img:nth-of-type(16),
.fv-img-box img:nth-of-type(17) {
  will-change: transform, opacity;
  transform-origin: center bottom;
  opacity: 0;
}

.fv-img-box img:nth-of-type(16) {
  width: 35px;
  top: 300px;
  left: 300px;
}

.fv-img-box img:nth-of-type(17) {
  width: 35px;
  top: 300px;
  right: 300px;
}

@media (max-width: 1024px) {
  .fv .fv-img-box {
    max-width: 1000px;
  }

  .fv .fv-txt {
    left: 35px;
    gap: 15px;
  }

  .fv .fv-txt p {
    font-size: 55px;
  }

  .fv-img-box img:nth-of-type(16) {
    left: 200px;
    width: 30px;
  }

  .fv-img-box img:nth-of-type(17) {
    right: 200px;
    width: 30px;
  }

  .fv-img-box .truckOne {
    width: 90px;
    bottom: 0px;
    left: 220px;
  }

  .fv-img-box .truckTwo {
    width: 80px;
    bottom: 0px;
    right: 220px
  }

  .fv-img-box .manTwo {
    left: 100px;
    top: 350px;
  }

  .fv-img-box .manThree {
    left: 390px;
    bottom: -200px;
  }

  .fv-img-box .manFour {
    right: 200px;
  }

  .fv-img-box .homeTwo {
    right: 100px;
  }

  .fv-img-box .homeThree {
    right: 0px;
  }

  .fv-img-box .manFive {
    right: 150px;
  }

  .fv-img-box .manOne {
    top: 350px;
    left: 150px;
  }

  .fv-img-box .treeTwo {
    right: 250px;
  }
}

@media (max-width: 950px) {
  .fv .fv-img-box {
    height: 380px;
  }

  .fv .fv-img-box {
    max-width: 750px;
  }

  .fv-img-box img.homeOne:nth-child(3) {
    width: 90px;
  }

  .fv-img-box img.homeOne:nth-child(4) {
    width: 90px;
    top: 93px;
    left: 100px;
  }

  .fv-img-box .bigHome {
    width: 250px;
  }

  .fv-img-box .homeTwo {
    width: 140px;
  }

  .fv-img-box .homeThree {
    width: 110px;
    top: 130px;
    right: 30px;
  }

  .fv-img-box .manOne {
    width: 15px;
    top: 175px;
    left: 130px;
  }

  .fv-img-box img:nth-of-type(16) {
    left: 210px;
    top: 130px;
    width: 25px;
  }

  .fv-img-box img:nth-of-type(17) {
    right: 210px;
    top: 130px;
    width: 25px;
  }

  .fv-img-box .manTwo {
    width: 15px;
    top: 140px;
    left: 235px;
  }

  .fv-img-box .manThree {
    width: 15px;
    top: 200px;
    left: 300px;
  }

  .fv-img-box .manFour {
    width: 15px;
    top: 170px;
    right: 245px;
  }

  .fv-img-box .manFive {
    width: 15px;
    top: 170px;
    right: 160px;
  }

  .fv-img-box .truckOne {
    width: 70px;
    bottom: 135px;
    left: 180px;
  }

  .fv-img-box .truckTwo {
    width: 65px;
    bottom: 50px;
    right: 260px;
  }

  .gradient-bg {
    height: 100vh;
  }

  .fv .mesh {
    height: 630px;
  }

  .fv .fv-txt p {
    font-size: 45px;
  }

  .fv .fv-scroll {
    right: 20px;
    width: 30px;
  }
}

@media (max-width: 768px) {
  .fv {
    height: 715px;
    padding-top: 60px;
  }

  .fv .mesh,
  .gradient-bg {
    height: 100vh;
  }

  .fv .fv-txt {
    bottom: 100px;
    left: 16px;
    gap: 10px;
  }

  .fv .fv-txt p {
    font-size: 35px;
    padding-inline: 0;
  }

  .fv .fv-scroll {
    right: 15px;
    width: 27px;
  }

  .fv .fv-img-box {
    width: 95%;
    height: 100%;
  }

  .fv-img-box .bigHome {
    width: 220px;
    top: 37%;
  }

  .fv-img-box .treeOne {
    width: 25px;
    top: 90px;
  }

  .fv-img-box .treeTwo {
    top: 20px;
    right: 135px;
    width: 35px;
  }

  .fv-img-box img.homeOne:nth-child(3) {
    width: 70px;
    left: 25px;
    top: 60px;
  }

  .fv-img-box img.homeOne:nth-child(4) {
    width: 70px;
    top: 27px;
    left: 80px;
  }

  .fv-img-box .homeTwo {
    width: 110px;
    top: 50px;
    right: 50px;
  }

  .fv-img-box .homeThree {
    width: 80px;
    top: 100px;
    right: 0;
  }

  .fv-img-box img:nth-of-type(16) {
    width: 20px;
    left: 30px;
    top: 305px;
  }

  .fv-img-box img:nth-of-type(17) {
    width: 20px;
    right: 30px;
    top: 305px;
  }

  .fv-img-box .manOne {
    width: 12px;
    top: 90px;
    left: 95px;
  }

  .fv-img-box .manTwo {
    width: 12px;
    top: 300px;
    left: 55px;
  }

  .fv-img-box .manThree {
    width: 12px;
    top: 365px;
    left: 110px;
  }

  .fv-img-box .manFour {
    width: 12px;
    top: 333px;
    right: 70px;
  }

  .fv-img-box .manFive {
    width: 12px;
    top: 123px;
    right: 95px;
  }

  .fv-img-box .truckOne {
    width: 45px;
    bottom: 110px;
    left: 5px;
  }

  .fv-img-box .truckTwo {
    width: 45px;
    bottom: 75px;
    right: 90px;
  }
}

/* ------------ */
.title-box {
  width: 100%;
  height: 100vh;
  /* background: url("../img/gra-bg.png") no-repeat center / cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.title-box h1 {
  font-size: 250px;
  color: #d1d5db;
  font-family: "Outfit";
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .title-box h1 {
    font-size: 100px;
  }

  .title-box {
    height: 100vh;
    padding-top: 60px;
  }
}

.study {
  width: 100%;
  overflow: hidden;
  /* background: url("../img/gra-bg.png") no-repeat center / cover; */
}

.slide-container {
  width: 100%;
  height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 100px;
}

.slide-item {
  width: 350px !important;
  height: 420px !important;
  position: relative;
  padding: 35px 20px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.swiper-backface-hidden .swiper-slide {
  width: 350px !important;
  height: 420px !important;
}

.slide-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.slide-item-img {
  width: 100%;
  height: 250px !important;
  position: relative;
  overflow: hidden;
}

.slide-item-img img {
  width: 100%;
  height: 250px !important;
  object-fit: cover;
}

.study-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.study-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  line-height: 4;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 20px;
}

.en-study-title {
  font-size: 200px;
  font-weight: bold;
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
}

.flow {
  width: 100%;
  height: auto;
  position: relative;
}


.flow-container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-image: url(../img/flow/flow-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300vh;
  overflow-x: hidden;
}

.flow-demo-title {
  position: absolute;
  right: 100px;
  top: 40px;
  z-index: 100;
}

.flow-title {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  font-size: 280px;
  font-weight: bold;
  color: #fff;
  transform: rotate(-90deg) translate(0%, 56%);
}

.flow-animation {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-img {
  width: 755px;
  height: 755px;
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/flow/circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.animation-img img.img-t {
  width: 540px;
  height: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: 0;
}

.animation-img .flow-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding-left: 400px;
  transform-origin: 0% 0%;
}

.flow-item-title {
  background-image: url(../img/flow/flow-text-bg.png);
  width: 116px;
  height: 116px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.flow-item-title p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: aqua;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}

.flow-content-title {
  background-color: #333;
  width: fit-content;
}

.flow-content-title h3 {
  color: white;
}

.item1 {
  rotate: 0;
}

.item2 {
  rotate: 30deg;
}

.item3 {
  rotate: 60deg;
}

.item4 {
  rotate: 90deg;
}

.item5 {
  rotate: 120deg;
}

.item6 {
  rotate: 150deg;
}

.contact_download {
  display: flex;
}

section.contact_download .cd_wrapper {
  display: flex;
}

.fv-scroll-container {
  height: 200vh;
  position: relative;
  /* Ensure it sits above or below correctly */
  z-index: 10;
}

/* Sticky Wrapper */
/* This stays fixed in the viewport while scrolling through the container */
.fv-sticky-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Slides */
.fv-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transform: scale(1.05);
  /* Start slightly zoomed in */
}

/* Active State for Slides */
.fv-slide.active {
  opacity: 1;
  transform: scale(1);
  /* Zoom to normal */
  z-index: 2;
}

/* Backgrounds */
.fv-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Text Content in Slides */
.fv-content h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out 0.2s;
}

.fv-content p {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out 0.4s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fv-slide.active .fv-content h1,
.fv-slide.active .fv-content p {
  opacity: 1;
  transform: translateY(0);
}

.scroll-animation-container {
  height: 400vh;
  position: relative;
  z-index: 10;
}

.scroll-animation-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scroll-animation-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transform: scale(1.05);
}

.scroll-animation-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}


/* FV section: use same structure with generic classes (optional legacy aliases below) */
.fv-scroll-container { height: 400vh; position: relative; z-index: 10; }
.fv-sticky-wrapper { position: sticky; top: 0; width: 100%; height: 100vh; overflow: hidden; }
.fv-slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: opacity 0.8s ease-in-out, transform 0.8s ease-out; display: flex; justify-content: center; align-items: center; text-align: center; color: white; transform: scale(1.05); }
.fv-slide.active { opacity: 1; transform: scale(1); z-index: 2; }
.fv-slide-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; }
.fv-content h1 { font-size: 4rem; font-weight: 700; letter-spacing: 0.1em; margin-bottom: 20px; text-shadow: 0 4px 10px rgba(0,0,0,0.3); opacity: 0; transform: translateY(20px); transition: all 0.8s ease-out 0.2s; }
.fv-content p { font-size: 1.5rem; font-weight: 400; opacity: 0; transform: translateY(20px); transition: all 0.8s ease-out 0.4s; text-shadow: 0 2px 5px rgba(0,0,0,0.3); }
.fv-slide.active .fv-content h1, .fv-slide.active .fv-content p { opacity: 1; transform: translateY(0); }

/* Concept section: optional height override (e.g. 300vh for 3 slides) */
.concept-scroll-container.scroll-animation-container { height: 300vh; }