.fv {
  width: 100%;
  max-height: 733px;
  padding-block: 106px 153px;
  position: relative;
  background: url("../img/fv/mesh.png") no-repeat center / cover;
}
.fv .fv-txt {
  position: absolute;
  bottom: 30px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.fv .fv-txt.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}
.fv .fv-txt p {
  background-color: #ffffff;
  padding-inline: 9px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.1;
}
.fv .fv-scroll {
  position: absolute;
  right: 32px;
  bottom: 27px;
  width: 35px;
}
.fv .mesh {
  width: 100%;
  height: 733px;
  background: url("../img/fv/mesh.png") no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
}

.fv .fv-img-box {
  width: 100%;
  max-width: 1200px;
  height: 476px;
  position: relative;
  margin: auto;
}
.fv-img-box img {
  position: absolute;
}

/* Trees */
.fv-img-box .treeOne {
  width: 40px;
  top: 200px;
  left: 0;
}
.fv-img-box .treeTwo {
  width: 55px;
  top: 20px;
  right: 355px;
}

/* Houses - Left side (3 houses) */
.fv-img-box img.homeOne:nth-child(3) {
  width: 120px;
  top: 140px;
  left: 40px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.fv-img-box img.homeOne:nth-child(4) {
  width: 120px;
  top: 80px;
  left: 125px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Large central building */
.fv-img-box .bigHome {
  width: 350px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.3) translateY(20px);
  opacity: 0;
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Houses - Right side (2 houses) */
.fv-img-box .homeTwo {
  width: 165px;
  top: 70px;
  right: 225px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.fv-img-box .homeThree {
  width: 125px;
  top: 140px;
  right: 135px;
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.fv-img-box .homeFour {
  opacity: 0;
  transform: scale(0.3) translateY(20px);
  transition: opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Animation classes for buildings */
.fv-img-box img.homeOne.pop-up,
.fv-img-box .bigHome.pop-up,
.fv-img-box .homeTwo.pop-up,
.fv-img-box .homeThree.pop-up,
.fv-img-box .homeFour.pop-up {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.fv-img-box .bigHome.pop-up {
  transform: translateX(-50%) scale(1) translateY(0);
}

/* Vehicles */
.fv-img-box .truckOne {
  width: 100px;
  bottom: 135px;
  left: 335px;
}
.fv-img-box .truckTwo {
  width: 80px;
  bottom: 0;
  right: 440px;
}

/* People */
.fv-img-box .manOne {
  width: 20px;
  top: 190px;
  left: 160px;
}
.fv-img-box .manTwo {
  width: 20px;
  top: 190px;
  left: 410px;
}
.fv-img-box .manThree {
  width: 20px;
  top: 275px;
  left: 500px;
}
.fv-img-box .manFour {
  width: 18px;
  top: 235px;
  right: 435px;
}
.fv-img-box .manFive {
  width: 18px;
  top: 185px;
  right: 290px;
}

/* Streetlights */
.fv-img-box img:nth-of-type(16) {
  width: 35px;
  top: 180px;
  left: 375px;
}
.fv-img-box img:nth-of-type(17) {
  width: 35px;
  top: 180px;
  right: 375px;
}

@media (max-width: 1200px) {
  .fv .fv-img-box {
    max-width: 1000px;
  }
  .fv .fv-txt {
    left: 35px;
    gap: 15px;
  }
  .fv .fv-txt p {
    font-size: 55px;
  }
  .fv-img-box img:nth-of-type(16) {
    left: 270px;
    width: 30px;
  }
  .fv-img-box img:nth-of-type(17) {
    right: 270px;
    width: 30px;
  }
  .fv-img-box .truckOne {
    width: 90px;
    bottom: 145px;
    left: 220px;
  }
  .fv-img-box .truckTwo {
    width: 75px;
    bottom: 35px;
  }
  .fv-img-box .manTwo {
    left: 300px;
  }
  .fv-img-box .manThree {
    left: 390px;
  }
  .fv-img-box .manFour {
    right: 330px;
  }
  .fv-img-box .homeTwo {
    right: 110px;
  }
  .fv-img-box .homeThree {
    right: 25px;
  }
  .fv-img-box .manFive {
    right: 175px;
  }
  .fv-img-box .treeTwo {
    right: 250px;
  }
}

@media (max-width: 950px) {
  .fv .fv-img-box {
    height: 380px;
  }
  .fv .fv-img-box {
    max-width: 750px;
  }
  .fv-img-box img.homeOne:nth-child(3) {
    width: 90px;
  }
  .fv-img-box img.homeOne:nth-child(4) {
    width: 90px;
    top: 93px;
    left: 100px;
  }
  .fv-img-box .bigHome {
    width: 250px;
  }
  .fv-img-box .homeTwo {
    width: 140px;
  }
  .fv-img-box .homeThree {
    width: 110px;
    top: 130px;
    right: 30px;
  }
  .fv-img-box .manOne {
    width: 15px;
    top: 175px;
    left: 130px;
  }
  .fv-img-box img:nth-of-type(16) {
    left: 210px;
    top: 130px;
    width: 25px;
  }
  .fv-img-box img:nth-of-type(17) {
    right: 210px;
    top: 130px;
    width: 25px;
  }
  .fv-img-box .manTwo {
    width: 15px;
    top: 140px;
    left: 235px;
  }
  .fv-img-box .manThree {
    width: 15px;
    top: 200px;
    left: 300px;
  }
  .fv-img-box .manFour {
    width: 15px;
    top: 170px;
    right: 245px;
  }
  .fv-img-box .manFive {
    width: 15px;
    top: 170px;
    right: 160px;
  }
  .fv-img-box .truckOne {
    width: 70px;
    bottom: 135px;
    left: 180px;
  }
  .fv-img-box .truckTwo {
    width: 65px;
    bottom: 50px;
    right: 260px;
  }
  .gradient-bg {
    height: 630px;
  }
  .fv .mesh {
    height: 630px;
  }
  .fv .fv-txt p {
    font-size: 45px;
  }
  .fv .fv-scroll {
    right: 20px;
    width: 30px;
  }
}
@media (max-width: 768px) {
  .fv {
    height: 715px;
    padding-top: 60px;
  }
  .fv .mesh,
  .gradient-bg {
    height: 715px;
  }
  .fv .fv-txt {
    bottom: 35px;
    left: 16px;
    gap: 10px;
  }
  .fv .fv-txt p {
    font-size: 35px;
    padding-inline: 0;
  }
  .fv .fv-scroll {
    right: 15px;
    bottom: 35px;
    width: 27px;
  }
  .fv .fv-img-box {
    width: 95%;
    height: 100%;
  }
  .fv-img-box .bigHome {
    width: 220px;
    top: 37%;
  }
  .fv-img-box .treeOne {
    width: 25px;
    top: 90px;
  }
  .fv-img-box .treeTwo {
    top: 20px;
    right: 135px;
    width: 35px;
  }
  .fv-img-box img.homeOne:nth-child(3) {
    width: 70px;
    left: 25px;
    top: 60px;
  }
  .fv-img-box img.homeOne:nth-child(4) {
    width: 70px;
    top: 27px;
    left: 80px;
  }
  .fv-img-box .homeTwo {
    width: 110px;
    top: 50px;
    right: 50px;
  }
  .fv-img-box .homeThree {
    width: 80px;
    top: 100px;
    right: 0;
  }
  .fv-img-box img:nth-of-type(16) {
    width: 20px;
    left: 30px;
    top: 305px;
  }
  .fv-img-box img:nth-of-type(17) {
    width: 20px;
    right: 30px;
    top: 305px;
  }
  .fv-img-box .manOne {
    width: 12px;
    top: 90px;
    left: 95px;
  }
  .fv-img-box .manTwo {
    width: 12px;
    top: 300px;
    left: 55px;
  }
  .fv-img-box .manThree {
    width: 12px;
    top: 365px;
    left: 110px;
  }
  .fv-img-box .manFour {
    width: 12px;
    top: 333px;
    right: 70px;
  }
  .fv-img-box .manFive {
    width: 12px;
    top: 123px;
    right: 95px;
  }
  .fv-img-box .truckOne {
    width: 45px;
    bottom: 110px;
    left: 5px;
  }
  .fv-img-box .truckTwo {
    width: 45px;
    bottom: 75px;
    right: 90px;
  }
}

/* ------------ */
.title-box {
  width: 100%;
  height: 797px;
  background: url("../img/gra-bg.png") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.title-box h1 {
  font-size: 250px;
  color: #ffffff;
  font-family: "Outfit";
}

/* ------- CONCEPT -------- */
.concept .content {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: url("../img/gra-bg.png") no-repeat center / cover;
  z-index: -1;
}
.concept .content .tip {
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.concept .content .tip p {
  font-size: 500px;
  font-weight: bold;
  font-family: "Outfit";
  color: rgba(255, 255, 255, 0.5);
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  animation: slideTextLeft 80s linear infinite;
  will-change: transform;
}

@keyframes slideTextLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.concept .concept-slider {
  padding-block: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.concept-slider-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  animation: slideLoop 40s linear infinite;
}
.concept-slider-wrap .concept-slide {
  width: 181px;
  flex-shrink: 0;
}
.concept-slider-wrap .concept-slide img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes slideLoop {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.concept-main {
  max-width: 1247px;
  margin: auto;
  margin-top: 44px;
  display: flex;
  align-items: start;
  position: relative;
  z-index: 2;
  padding-bottom: 45px;
}
.concept-main .txt {
  width: 100%;
  max-width: 758px;
}
.concept-main .txt-t {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.concept-main .txt-t p {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  width: fit-content;
  position: relative;
  padding-inline: 9px;
}
.concept-main .txt-t p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 1.8s;
  z-index: 0;
}
.concept-main .txt-t p span {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.concept-main.animate .txt-t p::before {
  width: 100%;
}
.concept-main.animate .txt-t p:nth-child(1) span {
  opacity: 1;
  transition-delay: 2.4s;
}
.concept-main.animate .txt-t p:nth-child(2) span {
  opacity: 1;
  transition-delay: 2.6s;
}
.concept-main .txt-c {
  padding-block: 10px;
}
.concept-main .txt-c p {
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.concept-main .img {
  width: 100%;
  max-width: 490px;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept-main .img img {
  position: absolute;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.8s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.concept-main .img .layerOne {
  bottom: 0px;
  transition-delay: 0.2s;
}
.concept-main .img .layerTwo {
  bottom: 110px;
  transition-delay: 0.4s;
}
.concept-main .img .layerThree {
  bottom: 220px;
  transition-delay: 0.6s;
}
.concept-main .img .layerFour {
  bottom: 300px;
  max-width: 340px;
  transition-delay: 0.8s;
}
.concept-main .img .layerFive {
  top: 20px;
  max-width: 140px;
  transition-delay: 1s;
}
.concept-main.animate .img img {
  opacity: 1;
  transform: translateY(0);
}

/* ----- VALUE ------ */

.value {
  width: 100%;
  height: 100vh;
  background: url("../img/gra-bg.png") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 250px;
}

.value-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Zen Kaku Gothic New";
  letter-spacing: 20px;
  color: #4E4E4E;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 250px;
}

.value-en-title {
  font-size: 300px;
  font-weight: bold;
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: -300px;
  rotate: -90deg;
}

.value-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.value-item {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  gap: 50px;
  opacity: 0;
  pointer-events: none;
}

.value-item.active {
  opacity: 1;
  pointer-events: auto;
}

.value-item-number {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 1;
  border-radius: 50%;
  background-color: #F7EDEC;
  border: 2px solid #FFFFFF;
  white-space: nowrap;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-item-content {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  gap: 40px;
}

.value-item-content-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.value-item-content-title p {
  font-size: 60px;
  font-weight: medium;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
}

.value-item-content-title-icon {
  width: 205px;
  height: 205px;
  background-color: #56ABBA;
  border-radius: 50%;
}

.value-item-content-title-icon img {
  width: 100%;
  height: 100%;
}

.value-item-content-title-text {
  font-size: 130px;
  font-weight: bold;
  font-family: "Outfit";
  color: #ffffff;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
}

.value-item-content-description {
  width: 100%;
  font-size: 14px;
  font-family: "Zen Kaku Gothic New";
  color: #4E4E4E;
  line-height: 28px;
  position: relative;
}

.value-item-content-description-highlight {
  font-weight: bold;
  font-size: 18px;
  color: #56ABBA;
}

.tri-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.tri-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tri-icon.active {
  opacity: 1;
  pointer-events: auto;
}

/* Ensure value section can be pinned */
.value {
  overflow: hidden;
}