/* Base styles */

/* Variables block */
:root{
    /* Layouts */
    --full-width: 1440px;
    /* --boxed-width: 1280px; */

    /* Colors */
    --white: #ffffff;
    --secondary: #000000;
    --primary-light: hsla(0, 0%, 100%, 0.7);
    --text-default: hsla(0, 0%, 31%, 1);

    /* Breakpoints */
    --mobile: 440px;
    --tablet: 726px;
}
html{
    scroll-behavior: smooth;
}
body, main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New';
    margin: 0;
}
/* body{
    background-image: url('/assets/media/rustled-pape-brown.webp');
    background-repeat: repeat;
    background-size: 100%;
    position: relative;
    overflow: auto;
} */


/* Utility clases  */
.flx-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flx-col{
    display: flex;
    flex-direction: column;
}



section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
section .boxed-width{
    width: 100%;
    max-width: 1260px;
}
/* Viewport Paddings */
section.container, header .container, footer.container {
    padding: 0px 80px;
    box-sizing: border-box;
}
@media (max-width: 1100px){
    section.container, header .container, footer.container{
    padding: 0px 30px;
    box-sizing: border-box;
    }
}
@media (max-width: 440px){
    section.container, header .container, footer.container{
    padding: 0px 15px;
    box-sizing: border-box;
    }
}

/* <<<------------------------- Texts and font styles starts----------------------------->>>*/

h1,h2,h3,h4,h5,h6,span,p,a,li{
    color: var(--default-text);
    margin: 0;
    padding: 0;
    width: fit-content;
}

h1{
    line-height: 100%;
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 0%;
    text-align: center;
}
h2{
    line-height: 100%;
    font-weight:400;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 0%;
    text-align: center;
}
h3{
    line-height: 100%;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 0%;
    text-align: center;
}
h4{
    line-height: 100%;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0%;
    text-align: center;
}
span{
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: normal;
    text-align: center;
    font-family: 'Outfit';
}
p{
    line-height: 32px;
}
ul, menu{
    list-style: none;
    margin: unset;
    padding: unset;
}
figure{
    margin: unset;
    display: flex;
    height: fit-content;
    width: fit-content;
}

/* Font family blocks */
@font-face {
    font-family: Outfit;
    src: url('/assets/fonts/outfit-v15-latin-500.woff2') format('woff2');
    font-style: regular;
    font-weight: 500;
}

@font-face {
    font-family: Outfit;
    src: url('/assets/fonts/outfit-v15-latin-600.woff2') format('woff2');
    font-style: semibold;
    font-weight: 600;
}

@font-face {
    font-family: Zen Kaku Gothic New;
    src: url('/assets/fonts/zen-kaku-gothic-new-v18-latin-regular.woff2') format('woff2');
    font-style: regular;
    font-weight: 400;
}

@font-face {
    font-family: Zen Kaku Gothic New;
    src: url('/assets/fonts/zen-kaku-gothic-new-v18-latin-700.woff2') format('woff2');
    font-style: bold;
    font-weight: 700;
}

body main{
    margin-top: -65px;
}

header{
    height: 65px;
    width: 100%;
    align-items: center;
    font-family: 'Outfit'; 
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-default);
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.5)
}
header .container{
    height: fit-content;
    width: 100%;
}
header figcaption{
    display: none;
}

header figure.header-logo{
    height: 30px;
}

header figure.header-logo img{
    height: 30px;
    object-fit: cover;
}
header nav{
    gap: 40px;
    margin-right: 90px;
    margin-left: auto;
}
header nav li {
    list-style: none;
}
header nav li a{
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
header .nav-buttons{
    width: fit-content;
    gap: 10px;
}
header button{
    height: 35px;
    width: 140px;
    outline: unset;
    border: unset;
    background-color: grey;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    text-transform: inherit;
    font-weight: inherit;
}
header button a{
    text-decoration: none;
    font-family: 'Outfit';
    letter-spacing: 0.5px
}
header span.menu-open img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    display: none;
}
@media (max-width: 1300px){
    header nav{
        gap: 25px;
        margin-right: 60px;
        margin-left: auto;
    }    
    header nav li a{
        font-size: 12px;
    }
    header button{
        font-size: 11px;
        width: 120px;
        height: 32px;
    }
}
@media (max-width: 1024px){
    header nav{
        gap: 18px;
        margin-right: 30px;
        margin-left: auto;
    }
    header button{
        font-size: 10px;
        width: 100px;
        height: 28px;
    }
    
}
@media (max-width: 900px){
    header .container{
        justify-content: space-between;
    }
    header nav.header-nav, header .nav-buttons{
        display: none;
    }
    header{
    height: 48px;
    background-color: hsla(0, 0%, 100%, 0)
    }
    header span.menu-open img{
    display: flex;
    }
    header figure.header-logo{
    height: 25px;
    }
    header figure.header-logo img{
    height: 21px;
    width: 50px;
    object-fit: contain;
    }
    
}