section.intro-section{
    height: 100vh;
    background-image: url('/assets/media/07c838f81f885815722635c387e123d6bffe250f.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

section.intro-section .intro-bg-text{
    height: fit-content;
    font-size: 16.4vw;
    color: white;
    font-weight: 600;
    line-height: 100%;
    text-align: center
}

section.intro-section .cd_wrapper {
    display: none;
}
section.intro-section .vertical-text{
        display: none
    }
@media (max-width: 900px){
    section.intro-section .cd_wrapper{
        position: absolute;
        bottom: 26px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.2);
    }
    section.intro-section button{
        width: fit-content;
        padding: 16px 30px;
        border-radius: 31px;
        background-color: white;
        border: none;
    }
    section.intro-section button a{
        width: 100%;
        align-items: center;
        text-decoration: none;
    }
    section.intro-section button span{
        width: fit-content;
    }
    section.intro-section button span:nth-child(1){
        font-size: 18px;
        color: var(--text-default);
        font-weight: 600;
        font-family: 'Outfit';
        line-height: 18px;
    
    }
    section.intro-section button span:nth-child(2){
        font-size: 10px;
        line-height: 12px
    }
    
    section.intro-section .vertical-text{
        display: flex;
        height: 240px;
        border-left: 2px solid white;
        margin-left: 20px;
        padding-left: 0px;
        position: absolute;
        right: 0px;
        bottom: 50px;
        z-index: 5;
    }
    section.intro-section .vertical-text span{
        writing-mode: vertical-rl;
        color: white;
        font-family: 'Outfit';
        font-size: 14px;
        font-weight: 400;
        
    }
}






section.form{
    position: relative;
    /* height: 500px; */
    background-image: url('/assets/media/07c838f81f885815722635c387e123d6bffe250f.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
}

section.form .bg-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    font-size: 32.8vw;
    color: hsla(0, 0%, 100%, 0.4);
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    z-index: 1;
}
section.form  .form-wrapper{
    width: 100%;
    position: relative;
    z-index: 2;
     
}
section.form  .form-title-wrapper{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 180px;
}
section.form  .form-title-wrapper h3{
    font-size: 30px;
    letter-spacing: 26px;
    font-weight: 600;
}
section.form  .form-title-wrapper p{
    font-size: 18px;
    font-weight: 400;
    text-align: end;
}
section.form form {
    position: relative;
    padding-left: 245px;
    gap: 20px;
}
section.form form label{
    width: fit-content;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
section.form form label::after {
    position: absolute;
    left: 186px;
    top: 4px;
    content: '必須';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    background-color: hsla(189, 42%, 53%, 1);
    width: 36px;
    border-radius: 24px;
    color: white;
    font-size: 10px;
}

section.form form label[for="name"]{
    top: 13px;
}

section.form form label[for="email_address"]{
    top: 88px;
}
section.form form label[for="phone_number"]{
    top: 162px;
}
section.form form label[for="company"]{
    top: 236px;
}
section.form form label[for="department"]{
    top: 310px;
}
section.form form label[for="inquiry_details"]{
    top: 379px;
}
section.form form label[for="consent"]{
    top: 597px;
}

section.form form input, section.form form textarea{
    width: 400px;
    height: 50px;
    position: relative;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.4);;
    padding: 0;
    border: 2px solid hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    position: relative;
}
section.form form textarea{
    height: unset;
    width: 100%;
    max-width: 718px;
}
section.form form input[type="checkbox"]{
    width: 26px;
    height: 26px;
    border-radius: unset;
    border: 2px solid hsla(0, 0%, 100%, 1) !important;
    outline: unset;
    margin: 0px;
    margin-top: 10px;
    position: relative;
}
section.form form input[type="checkbox"]::after{
    position: absolute;
    left: 58px;
    top: 4px;
    content: '弊社プライバシーポリシーを読み、それに同意する。';
    width: 350px;
    font-size: 14px;
}
section.form .form-cta{
    width: 100%;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 55px;
}
section.form .form-cta button{
    width: 160px;
    height: 50px;
    background-color: hsla(0, 0%, 31%, 1);
    border: none;
    border-radius: 40px;
}
section.form .form-cta button a{
    color: white;
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 900px){
    section.form form {
        padding-left: unset;
        gap: 0px;
    }
    section.form form label{
        position: static;
        margin-bottom: 15px;
        height: 27px;
    }
    section.form form label::after{
        left: unset;
        position: relative;
        top: -23px;
        left: calc(100% + 14px);
    }
    section.form form input, section.form form textarea{
        width: 100%;
        margin-bottom: 26px;
    }
   section.form .bg-text{
    font-size: 380px;
    top: 8%;
    }
    section.form form input[type="checkbox"]{
        left: 20px;
       
    }
    section.form form input[type="checkbox"]::after{
         width: 230px;
    }

    section.form  .form-title-wrapper{
        flex-direction:column;
        justify-content: unset;
        align-items: start;
        height: fit-content;
        margin-bottom: 70px;
    }
    section.form  .form-title-wrapper h3{
        line-height: 74px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 10px;
    }
    section.form  .form-title-wrapper p{
        font-size: 14px;
        text-align: start;
        line-height: 100%;
        letter-spacing: unset;
    }
}

@media (max-width: 400px){
    section.form form input[type="checkbox"]::after{
         width: 180px;
    }

}

section.contact_download{
    position: relative;
    background-image: url('/assets/media/07c838f81f885815722635c387e123d6bffe250f.webp');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    
}
section.contact_download .cd_wrapper{
   gap: 73px;
   margin: 108px 0px;
}
section.contact_download button{
    width: 100%;
    height: 143px;
    border-radius: 31px;
    background-color: white;
    border: none;
}
section.contact_download button a{
    width: 100%;
    align-items: center;
    text-decoration: none;
    line-height: 30px;
}
section.contact_download button span{
    width: fit-content;
}
section.contact_download button span:nth-child(1){
    font-size: 48px;
    color: var(--text-default);
    font-weight: 600;
    font-family: 'Outfit';

    line-height: 52px;
    
}
section.contact_download button span:nth-child(2){
    font-size: 14px;
}
@media (max-width: 900px){
    section.contact_download{
        display: none;
    }
    section.contact_download .cd_wrapper{
        flex-direction: column;
    }
}











footer .footer_wrapper{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
footer .copyright{
    width: 180px
}
footer .footer-cta{
    width: fit-content;
    justify-content: center;
}
footer .footer-cta button{
    width: 160px;
    height: 50px;
    background-color: hsla(189, 42%, 53%, 1);
    border: none;
    border-radius: 40px;
}
footer .footer-cta button a{
    color: white;
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 700;
    text-decoration: none;
}
footer figure.footer-logo{
    height: 30px;
}
footer figure figcaption{
    display: none;
}
footer figure.footer-logo img{
    height: 30px;
    object-fit: cover;
}
@media (max-width: 900px){
    
    footer .footer_wrapper{
        height: fit-content;
        padding-top: 32px;
        padding-bottom: 14px;
        flex-direction: column;
        align-items: center;
    }
    footer .footer_wrapper figure{
        margin-bottom: 23px;
    }
    footer .footer_wrapper .copyright{
        margin-bottom: 35px;
    }
    footer .footer_wrapper button{
        height: 45px;
    }
}

